    body {
      padding-top: 0px;
      padding-bottom: 0px;
      outline:none;
      font-family: 'Open Sans', sans-serif;
      font-stretch:2pt;
      text-align:justify;
      font-size:120%;
      color:#555;
    }

    .row {
        margin:0 !important;
    }

    .opensans {
         font-family: 'Open Sans', 'Roboto', sans-serif;
            
    }

    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        margin:0;
    }

    .navbar-purpletux {
        /*background-color:#8d189f;*/
        background-color:transparent;
        color:#FFF;
        
        padding:0;   
        margin-bottom:0px;
        border-radius:0px;
        padding-top: 0;
        border:none; 
        font-size:120%;
        position:fixed;
        width:100%;
        z-index:100;
        transition:all 0.2s ease-in-out; 
        font-family: 'Oswald', sans-serif;
    }

    .navbar-default .navbar-brand {
        color:#FFF;
        font-size:200%;
    }

    .navbar-default .navbar-brand:hover , .navbar-default .navbar-brand:focus {
        color:#ee3a69;
        transition:all ease-in-out 0.3s;
    }
    
    .navbar-default .navbar-nav > li > a {
        color:#FFF;
    }

    .navbar-purpletux a {
        font-weight:600;
        text-transform:uppercase;    
    }

    #purpletux-navbar a{
        padding:12px;
    }

    .navbar-default .navbar-nav li a:hover,.navbar-default .navbar-nav li a:focus {
        /*background-color:#fF9C30;*/
        background-color:transparent;
        color:#ee3a69;
        transition: all ease-in-out 0.2s;
    }

    .navbar-default .navbar-nav .selected a ,.navbar-default .navbar-nav .selected a:hover,.navbar-default .navbar-nav .selected a:focus {
        color:#ee3a69;
        /*background-color:#fF9C30;*/
        background-color:transparent;
        transition: all ease-in-out 0.2s;
    }

    #home {
        color:#FFF;
        text-align:justify;
        background: url('../images/event.jpg') no-repeat;
        background-size:cover;
    }

    #home .purpletux-home {
        padding:22% 13% 0 13%; 
        margin:0 auto;   
    }

    .purpletux-home {
        width:inherit;
        height:inherit;
        background-color:rgba(85, 38, 138, 0.63);
        font-weight:300;
        font-size:130%;
    }

    #home-text {
        opacity:0;
        margin-top:-2%;
        transition:all ease-in-out 0.5s;
    }

    #down-icon img{
        position:absolute;
        height:40px;
        width:40px;
        left:48%;
        bottom:10px;
        transition:all ease-in-out 0.7s;
        cursor:pointer;
    }

    .purpletux-head {
        text-align:center;
        font-size:280%;
        font-weight:700;
        text-transform:uppercase;
        margin-bottom:4%;
        font-family: 'Oswald', sans-serif;
    }

    #about .purpletux-about {
        padding:6% 8% 6% 8%;
        background-color:#F1F1F1;
        text-align:justify;
        font-weight:300;
        font-size:130%;
    }

    #about .purpletux-about p{
        padding-right:3%;
        font-size:100%;
    }

    #about .purpletux-about ul{
        font-size:90%;
    }
    
    #about .purpletux-about ul li{
        list-style-type:none;
    }

     #about .purpletux-about ul li span{
        padding-right:2%;
        font-size:89%;
    }

    .shadow img{
        border:10px solid #FFF;
        margin:0;
        padding:0;
    }

    #events .purpletux-events {
        padding:6% 15% 6% 15%;
        text-align:justify;
        font-weight:300;
        font-size:130%;
        text-align:center;
        margin:0 auto;
    }

    #events .purpletux-events .fa-icons {
        opacity:1;
        transition:all ease-in-out 0.3s;
    }

    #events .purpletux-events .fa-icons a {
        background:#EFEFEF;
        border-radius:49%;
        padding:14% 10% 10% 10%;
        /*transition:all ease-in-out 0.3s;*/       
    }

     #events .purpletux-events .fa-icons a:hover {
        background:#CFCFCF;  
    }

    #events .purpletux-events .fa-icons .fa-circle-purpletux {
        padding:24% 11% 10% 11%;
    }
    
    #events .purpletux-events span{
        font-size:200%;
        color:tomato; 
        margin-bottom:10%;
    }

    .purpletux-bold {
        font-weight:600;    
    }
    
    #events .purpletux-events span:hover {
        color:#ee2222;
    }

    .fa-icons {
        margin-top:95px;
        min-height:150px;
    }

    .fa-icons div{
        height:150px;
    }

     #events .purpletux-events .fa-icons .fa-circle-purpletux {
        padding:13% 11% 10% 11%;
    }

    #events-display{
        text-align:justify;
        padding:0 8%;
        margin-top:3%;
    }

    #contact .purpletux-contact {
        padding:6% 15% 6% 15%;
        background-color:#F1F1F1;
        text-align:justify;
        font-weight:300;
        font-size:130%;
    }

    #contact form {
        margin-top:3%;
    }
    #contact form input {
        padding:20px 12px;
    }

    #contact form .submit {
        margin-left:15px;
        background-color: tomato;
        color: white;
    }

    #contact {
        
    }

    .container-fluid {
        padding:0px;
    }

    .navbar-toggle {
        background-color:#DEDEDE;
    }

    footer {
        /*background-color:rgba(85, 38, 138, 0.63);*/
        background-color:#444;
        text-align:center;
    }

    footer ul {
        padding-top:2%;
    }

    footer li{
        display:inline;
        margin:0 10px;
        list-style-type: none;
    }

    footer li a {
        margin-right:10px;   
        color:#AFAFAF; 
        font-size:120%;
    }

     footer li a:hover {
        transition:all ease-in-out 0.3s;
        color:#DEDEDE; 
        text-decoration:none;
    }
    footer li::after {
        content:"|";    
    }

    footer li:last-child::after {
        content:'';    
    }

    input {
        background-color:#f7f7f7;
    }

    .icons {
        font-size:130%;
    }

/* Responsive: Portrait tablets and up */
@media (min-width: 768px) {

    body {
        font-size:160%;
    }
    
    #down-icon img{
        height:80px;
        width:80px;
    }
    
     .purpletux-head {
        font-size:310%;
    }
    
    #home .purpletux-home {
        padding:13% 13% 0 13%; 
        margin:0 auto;   
    }
    
    .navbar-default .navbar-brand {
        padding-top:20px;
    }

    #purpletux-navbar a {
        padding-top:20px;
    }

    .navbar-purpletux{
        padding-top:40px;
        padding-bottom:10px;
    }

    .navbar-header{
        padding-left:10%;
    }

    #purpletux-navbar {
        padding-right:18%;
    }

    .container {
        max-width: 730px;
    }

    #home {
        background: url('../images/event.jpg') no-repeat;
        background-size:100%;
    }
    
    section .row{
        width:100%;
        padding:0px;
        margin:0px;
    }

    #events .purpletux-events span{
        font-size:389%;
        color:tomato; 
    }
    
    #events .purpletux-events .fa-icons {
        opacity:0;
        transition:all ease-in-out 0.3s;
    }

    .fa-icons {
        margin-top:30px;
        min-height:150px;
    }

     #events .purpletux-events .fa-icons .fa-circle-purpletux {
        padding:24% 11% 10% 11%;
    }

    #events .purpletux-events .fa-icons a {
        padding:28% 11% 10% 11%;
    }
}
