    body {
      padding-top: 0px;
      padding-bottom: 0px;
      outline:none;
    }

    .navbar-purpletux {
        /*background-color:#8d189f;*/
        background-color:rgba(85, 38, 138, 0.63);
        color:#FFF;
        min-height:55px;
        padding:0.5% 0 ;   
        margin-bottom:0px;
        border-radius:0px;
        border:none; 
    }

    .navbar-default .navbar-brand {
        color:#FFF;
    }

    .navbar-default .navbar-brand:hover , .navbar-default .navbar-brand:focus {
        color:#ee3a69;
        transition:all ease-in-out 0.3s;
    }
    


    .navbar-default .navbar-nav > li > a {
        color:#FFF;
    }

    .navbar-purpletux a {
        font-weight:600;
        text-transform:uppercase;    
    }

    #purpletux-navbar a{
        padding:12px;
    }

    .navbar-default .navbar-nav li a:hover,.navbar-default .navbar-nav li a:focus {
        /*background-color:#fF9C30;*/
        background-color:transparent;
        color:#ee3a69;
        transition: all ease-in-out 0.2s;
    }

    .navbar-default .navbar-nav .selected a ,.navbar-default .navbar-nav .selected a:hover,.navbar-default .navbar-nav .selected a:focus {
        color:#ee3a69;
        /*background-color:#fF9C30;*/
        background-color:transparent;
        transition: all ease-in-out 0.2s;
    }

    #home {
        background:url('../images/event.jpg') no-repeat ;
        background-size:100%;
        color:#FFF;
        text-align:justify;
    }

    #home .test {
        padding:0px 20%;    
    }

    .test {
        width:inherit;
        height:inherit;
        background-color:rgba(85, 38, 138, 0.63);
    }

    .container-fluid {
        padding:0px;
    }

/* Responsive: Portrait tablets and up */
@media (min-width: 768px) {

    .navbar-purpletux{
        padding-top:40px;
        padding-bottom:10px;
    }

    .navbar-header{
        padding-left:10%;
    }

    #purpletux-navbar {
        padding-right:18%;
    }

    .container {
        max-width: 730px;
    }

    
    section .row{
        width:100%;
        padding:0px;
        margin:0px;
        min-height:600px;
    }
}
