    body {
      padding-top: 0px;
      padding-bottom: 0px;
      outline:none;
      font-family: 'Oswald', sans-serif;
      font-stretch:2pt;
      text-align:justify;
       font-size:120%;
    }

    .row {
        margin:0 !important;
    }

    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        margin:0;
    }

    .navbar-purpletux {
        /*background-color:#8d189f;*/
        background-color:transparent;
        color:#FFF;
        min-height:55px;
        padding:0;   
        margin-bottom:0px;
        border-radius:0px;
        border:none; 
        font-size:120%;
        position:fixed;
        width:100%;
        z-index:100;
        transition:all 0.2s ease-in-out; 
    }

    .navbar-default .navbar-brand {
        color:#FFF;
        font-size:200%;
    }

    .navbar-default .navbar-brand:hover , .navbar-default .navbar-brand:focus {
        color:#ee3a69;
        transition:all ease-in-out 0.3s;
    }
    
    .navbar-default .navbar-nav > li > a {
        color:#FFF;
    }

    .navbar-purpletux a {
        font-weight:600;
        text-transform:uppercase;    
    }

    #purpletux-navbar a{
        padding:12px;
    }

    .navbar-default .navbar-nav li a:hover,.navbar-default .navbar-nav li a:focus {
        /*background-color:#fF9C30;*/
        background-color:transparent;
        color:#ee3a69;
        transition: all ease-in-out 0.2s;
    }

    .navbar-default .navbar-nav .selected a ,.navbar-default .navbar-nav .selected a:hover,.navbar-default .navbar-nav .selected a:focus {
        color:#ee3a69;
        /*background-color:#fF9C30;*/
        background-color:transparent;
        transition: all ease-in-out 0.2s;
    }

    #home {
        color:#FFF;
        text-align:justify;
    }

    #home .purpletux-home {
        padding:10% 15% 0 15%;    
    }

    .purpletux-home {
        width:inherit;
        height:inherit;
        background-color:rgba(85, 38, 138, 0.63);
        font-weight:300;
        font-size:130%;
    }

    .purpletux-head {
        text-align:center;
        margin:20px 0;
        font-size:350%;
        font-weight:700;
        text-transform:uppercase;
    }

    #about .purpletux-about {
        padding:6% 15% 6% 15%;
        background-color:#F1F1F1;
        text-align:justify;
        font-weight:300;
        font-size:130%;
    }

    #events .purpletux-events {
        padding:6% 15% 6% 15%;
        text-align:justify;
        font-weight:300;
        font-size:130%;
    }

    #contact .purpletux-contact {
        padding:6% 15% 6% 15%;
        background-color:#F1F1F1;
        text-align:justify;
        font-weight:300;
        font-size:130%;
    }

    #contact form {
        margin-top:6%;
    }
    #contact form input {
        padding:20px 12px;
    }

    #contact form .submit {
        margin-left:15px;
    }

    #contact {
        
    }

    .container-fluid {
        padding:0px;
    }

    .navbar-toggle {
        background-color:#DEDEDE;
    }

    footer {
        /*background-color:rgba(85, 38, 138, 0.63);*/
        min-height:100px;
        margin-top:50px;
    }

    footer ul {
        padding-top:2%;
    }

    footer li{
        float:left;
        margin:0 10px;
        list-style-type: none;
    }

/* Responsive: Portrait tablets and up */
@media (min-width: 768px) {

    body {
        font-size:160%;
    }

    .navbar-default .navbar-brand {
        padding-top:20px;
    }

    #purpletux-navbar a {
        padding-top:20px;
    }

    .navbar-purpletux{
        padding-top:40px;
        padding-bottom:10px;
    }

    .navbar-header{
        padding-left:10%;
    }

    #purpletux-navbar {
        padding-right:18%;
    }

    .container {
        max-width: 730px;
    }

    #home {
        background: url('../images/event.jpg') no-repeat;
        background-size:100%;
    }
    
    section .row{
        width:100%;
        padding:0px;
        margin:0px;
       
    }
}
